:root {
  --text: #f66936;
  --card: #202426;
  --orange: #ffa200;
  --bg: linear-gradient(135deg, #fc2473, #f66936);

  --delay: 200ms;
  --rotate-0: rotateY(0deg);
  --rotate-90: rotateY(90deg);
  --transition: all ease-in 200ms;

  --radius: 0.75rem;
  --shadow: 1px 1px 13px #03030390;

}

/* Removes scrollbar and browser margins, focus more on the game */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /* padding: 1rem; */
  overflow: auto;
  /* background: var(--bg); */
}


